# ===================================
# SQL Server
# ===================================

MSSQL_SA_PASSWORD=YourStrongPassword!123
MSSQL_PORT=1433

# ===================================
# RabbitMQ
# ===================================

RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672

# ===================================
# Redis
# ===================================

REDIS_PORT=6379

# ===================================
# Mailhog
# ===================================

MAILHOG_SMTP_PORT=1025
MAILHOG_WEB_PORT=8025